:root {
  --color1: aqua;
  --color2: rgba(40, 43, 45, 0.356);
  --color3: black;
  --header: rgb(30, 33, 33);
  --mainBackground: rgba(128, 128, 128, 0.322);
  --boxShadow: rgb(47, 46, 44);
  --borders: black;
  --cardColors: rgb(30, 33, 33);
  --linksHover: white;
}

body {
  margin: 0px;
  padding: 0px;
}

.header-background {
  background-color: var(--header);
  height: 100%;
  width: 100%;
  border: solid var(--borders) 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header style and position */
header {
  font-size: 50px;
  background-color: var(--color1);
  border: solid;
  border-radius: 10px;
  margin-top: 150px;
}

/* Nav positioning */
nav {
  order: 2;
  margin-top: 200px;
}

/* Nav links style */
nav a {
  font-size: 25px;
  color: var(--color1);
  padding: 15px;
}

subtitle p {
  font-size: 100px;
  font-style: italic;
  color: lemonchiffon;
  text-shadow: 10px 5px 5px rgb(89, 97, 49);
}

main {
  background-color: var(--mainBackground);
}

/* About me positioning */
.about-me {
  display: flex;
  padding: 50px 0px 50px 0px;
}

/* About me h1 style */
.about-me h1 pre {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 4;
  margin-left: 10%;
  margin-right: 10%;
  padding-right: 150px;
  border-right: solid var(--borders) 5px;
}

/* About me img */
.about-me img {
  width: auto;
  height: auto;
  padding: 20px;
}

/* About me Text style */
.about-me p {
  font-size: 25px;
  background-color: var(--color2);
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  line-height: 3;
  margin-right: 30px;
  padding: 0 10px 0 10px;
  border-left: solid var(--color1) 5px;
  border-right: solid var(--color1) 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px var(--boxShadow);
}

/* My work header style and position */
#work-header {
  padding: 30px;
  margin: 20px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  border: solid var(--borders) 5px;
  border-radius: 10px;
  background-color: var(--color1);
  box-shadow: 5px 5px 10px black;
  display: flex;
  justify-content: center;
}

/* My work boxes positioning */
.my-work {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* My work boxes */
.text-box1 {
  padding: 30px 25% 30px 25%;
  margin: 100px;
  width: 20%;
  font-size: 20px;
  font-style: normal;
  color: white;
  border: solid var(--borders) 5px;
  background-color: var(--cardColors);
  box-shadow: 20px 20px 20px var(--boxShadow);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-box1 img {
  min-width: 100%;
}

.text-box2,
.text-box3,
.text-box4,
.text-box5 {
  margin: 100px;
  padding: 30px 60px 30px 60px;
  font-size: 20px;
  font-style: normal;
  color: white;
  border: solid var(--borders)5px;
  background-color: var(--cardColors);
  box-shadow: 20px 20px 20px var(--boxShadow);
}

/* Box img styling */
div img {
  border: solid var(--color1) 10px;
}

/* Box Text */
div p {
  text-decoration: underline;
}

/* Contact position and color*/
.contact {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0px 50px 0px;
  background-color: var(--color2);
  border-top: solid var(--borders) 5px;
  border-bottom: solid var(--borders) 5px;
}

/* Contact Header */
.contact h2 {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}

/* Contact links */
.contact a {
  font-size: 30px;
  margin-top: 50px;
  font-style: italic;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--color1);
}

/* Hover styling */
article>*:hover {
  background-color: rgba(57, 60, 60, 0.79);
  cursor: pointer;
}

.contact a:hover {
  color: var(--linksHover);
}

nav a:hover {
  color: var(--linksHover)
}